{{!--  handle bar for them to log into for the front part of the homepage --}}
{{!-- nav bar for homepage, dashboard, at the login logout signup  --}}
<nav>
    <ul>
        <li><a href="index.html">Homepage</a></li>
        <li><a href="dashboard.html">Dashboard</a></li>
        <li><a href="login.html">Login/Logout/Signup</a></li>
    </ul>
</nav>