{{!-- is this really all that i need in this? 
ask for help about this section of code --}}
{{!-- for the homepage to show text title date correctly hopefully --}}
<div class="blog-post">
    <h2>{{title}}</h2>
    <p>{{post_text}}</p>
    <span>Author: {{user_id}}</span>
</div>