{{!-- just the name template for the html --}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Museum</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>The Tech Blog</h1>
  </header>
  <nav>
    <a href="/">Home</a>
  </nav>
  <main>
    <aside>
      <h2></h2>
    </aside>
    <div class="">
      {{{body}}}
    </div>
  </main>
</body>

</html>
