{{!-- just the name template for the html --}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Museum</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>The Tech Blog</h1>
    {{newpost}}
  </header>
  <nav>
    <a href="/">Home</a>
  </nav>
  <main>
    <aside>
      <h2></h2>
    </aside>
    <div class="">
      {{{body}}}
    </div>
  </main>
</body>
<script>
  const express = require('express');
const exphbs = require('express-handlebars');
const path = require('path');

const app = express();

app.engine('handlebars', exphbs({
    extname: 'handlebars',
    partialsDir: [
        path.join(__dirname, 'views/partials')
    ]
}));
app.set('view engine', 'handlebars');

{{!-- why is the > red what am i doing wrong question to ask for later i keep adding and taking away different things? --}}
{{!-- keep reversing back to the original way it was to adapt it to my need in the main handlebar --}}

app.get('/', (req, res) => {
    res.render('layouts/main');
});

app.listen(3000, () => {
    console.log('Server is running on port 3000');
});
</script>
</html>